  
  <!-- Main content -->
  <section class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-12">
          <div class="card">
            <div class="card-header">
              <h3 class="card-title">Notification</h3>
              <div class="card-tools">
                <!-- <a href="/users/create" class="btn btn-primary btn-sm">
                  <i class="fas fa-plus"></i> Add User
                </a> -->
              </div>
            </div>
            <!-- /.card-header -->
            <div class="card-body">
              <table id="usersTable" class="table table-bordered table-striped">
                <thead>
                  <tr>
                    <th>ID</th>
                    <th>Title</th>
                    <th>Message</th>
                    <th>Is Read</th>
                    <th>Created_at</th>
                  </tr>
                </thead>
                <tbody>
                  <% if (notifications.length !== 0) { %>
                
                    <% notifications.notifications.forEach((notification, index) => { %>
                      <tr>
                        <td><%= index + 1 %></td>
                        <td><%= notification.title %></td>
                        <td><%= notification.body %></td>                        
                        <td><%= notification.is_read %></td>
                        <td><%= new Date(notification.created_at).toLocaleString() %></td>
                      </tr>
                    <% }) %>
                  <% } %>
                </tbody>
              </table>
            </div>
            <!-- /.card-body -->
          </div>
          <!-- /.card -->
        </div>
        <!-- /.col -->
      </div>
      <!-- /.row -->
    </div>
    <!-- /.container-fluid -->
  </section>
  